.card {
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  border-radius: 40px;
  position: relative;
}
.container {
  margin: 0 auto;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  position: relative;
}
h1 {
  font-size: 50px;
  color: #fbc687;
  padding-top: 20px;
  position: relative;
}
h3 {
  color: #fbc687;
  font-size: 50px;
}
h2 {
  font-size: 25px;
  color: #fbc687;
  padding-bottom: 30px;
  position: relative;
}
.units {
  font-size: 50px;
  position: relative;
}
.sun {
  font-size: 100px;
}

.currentTemperature {
  font-size: 50px;
  color: #fbc687;
  position: relative;
}
.weatherStat {
  font-size: 25px;
  position: relative;
}
.fa-tint {
  color: #133b5c;
  position: relative;
}
.fa-wind {
  color: grey;
  position: relative;
}
.fa-sun {
  color: orange;
  font-size: 50px;
  position: relative;
}
.fa-cloud-sun {
  color: blue;
  font-size: 50px;
  position: relative;
}
.fa-cloud-sun-rain {
  color: darkgray;
  font-size: 50px;
  position: relative;
}
.fa-snowflake {
  color: lightskyblue;
  font-size: 50px;
  position: relative;
}
.far fa-sun {
  color: orange;
  font-size: 70px;
  position: relative;
}
.fa-map-marker-alt {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.day {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  position: relative;
}
p .temperature {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  position: relative;
}
